.main {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 32px 2%;
    grid-area: main;
    background-color: $bg-dash;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray-light;
        border-radius: 12px;
    }

    .welcome {
        @include box(100%);
        grid-column: span 3;
    }

    .options-dash {
        @include box(100%);
        grid-column: span 3;

        button {
            @include btn(auto, $gray, 25px);
            margin: 16px 4px;
            padding: 0 8px;
        }
    }

    form {
        @include box(90%);
        text-align: left;

        input[type="text"], input[type="email"] {
            width: 100%;
            height: 42px;
            margin: 8px 0;
            display: inline-block;
            border: 2px solid $border-box;
            padding-left: 12px;
        }

        textarea {
            width: 100%;
            height: 120px;
            resize: none;
            margin: 8px 0;
            display: inline-block;
            border: 2px solid $border-box;
            padding: 12px;
        }

        input[type="submit"] {
            width: 120px;
            height: 42px;
            color: $white;
            background-color: $gray;
            cursor: pointer;
            border: 0;
            border-radius: 12px;
        }
    }

    .tickets {
        @include box(90%);

        .ticket:first-child {
            border-bottom: 1px solid $gray-light;
        }

        .ticket {

            .paragraph > strong {
                text-decoration: underline;
            }
    
            button {
                @include btn(auto, $gray, 18px);
                margin: 16px 2%;
                padding: 0 10px;
            }
        }
    }
}